/.idea/
/.gradle/
/build/
/bin/
/src/main/resources/logs/
/src/main/resources/plugins/
/src/main/resources/config/config.json
/src/main/resources/config/server-config.json
gradle.properties
/Dockerfile_*
