/.idea/
/.gradle/
/build/
/bin/
/src/main/resources/logs/
/src/main/resources/plugins/
/src/main/resources/config/config.json
/src/main/resources/config/server-config.json
gradle.properties
/Dockerfile_*
/testplugin/build/
/pluginloader/build/
/pluginapi/build/
/pluginloader/src/main/resources/plugins/
/pluginloader/.settings/
/pluginloader/bin/
/pluginapi/bin/
/pluginapi/.settings/
/.settings/
/testplugin/.project
/testplugin/.classpath
/.classpath
/.project
/pluginloader/.project
/pluginloader/.classpath
/pluginapi/.classpath
/pluginapi/.project
/testplugin/.settings/
/testplugin/bin/
