name: Docker Image CI

on:
  push:
    branches: [ docker, master ]
  pull_request:
    branches: [ docker, master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag simplebot:$(date +%s)